/* 
    TEXT
    - #0D1B1E: Very Dark Green
    - whitesmoke

    BACKGROUND
    - #C5D289: Sage Green
    - #F1FFFA: Mint Green
    - #B3B0BF: Light Purple
    - #b7d3d3: Light Blue
    - #B2AC88: Another Sage Green

*/


/* Global Styles
-----------------------------*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    color: #0D1B1E;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
h1, h2 {
    font-family: 'Kalam', cursive;
    text-align: center;
}
h1 {
    font-size: 45px;
}
h2 {
    margin: 0;
    font-size: 35px;
    font-weight: 400;
}
img {
    width: 300px;
}
.ext-btn {
    background-color: whitesmoke;
    color: #0D1B1E;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
}
.ext-btn:hover {
    background: rgba(245, 245, 245, 0.75);
    text-decoration: none;
    border-style: dashed;
    border-color: rgba(161, 176, 171, 0.75);
    border-width: thin;
}
.wrap-content {
    max-width: 850px; /* ensures the width can decrease for smaller screens */
    width: 85%; /* ensures the content only occupies 85% of the width, leaving space around the edges */
    margin: 0 auto;
    padding: 60px;
}
h3 {
    margin-bottom: 0;
}
.item-style h3 + p {
    font-style: italic;
}
.item-style h3 ~ p {
    margin: 0;
}
table {
    margin-top: 16px;
}
th {
    font-size: large;
}

/* Aside
-----------------------------*/
.to-top {
    background-color: lightgrey;
    border-radius: 50%;
    color: #0D1B1E;
    position: fixed;
    bottom: 15%;
    right: 10%; 
    border: none;
}
.to-top a {
    display: block;
    padding: 16px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

/* Profile
-----------------------------*/
header {
    background-image: linear-gradient(rgba(13, 27, 30, 0.75), rgba(13, 27, 30, 0.75)), url('../images/mountains-header.JPG');
    background-position: 0px 50%;
    color: whitesmoke;
}
.navbar {
    overflow: hidden;
    background-color: whitesmoke;
    color:#0D1B1E;
    border: none;
}
.navbar ul {
    list-style-type: none;
    text-align: center;
    display: flex;
    justify-content: center;
}
.navbar a {
    padding: 15px;
    margin-left: 12px;
    margin-right: 12px;
    text-decoration: none; 
}
.navbar a:hover {
    background: #C5D289;
    text-decoration: none;
    border-style: none;
}
.skill-list {
    list-style-type: none;
    padding: 0;
}
.skill-btn {
    border-style: dashed;
    border-width: thin;
    font-style: italic;
    color: #0D1B1E;
    border-color: #0D1B1E;
    border-radius: 6px;
    padding: 8px;
    margin: 6px;
    display: inline-flex;
}


/* Work Experience
-----------------------------*/
.work-exp {
    background-color: #F1FFFA;
}

/* Extracurricular Experience
-----------------------------*/
.extra-exp {
    background-color: #B3B0BF;
}

/* Projects
-----------------------------*/
.projects {
    background-color: #b7d3d3;
}
.project-item {
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 10px;
}
.project-item h3 {
    margin-top: 0;
}
.border-between {
    margin-top: 10px;
    border-bottom: 1px solid rgba(13, 27, 30, 0.25);
    border-width: 2px;
}

/* Education
-----------------------------*/
.header-edu {
    text-align: center;
}
.header-edu h3 {
    margin-top: 0;
}
.header-edu p {
    margin-top: 0;
    margin-bottom: 0;
}
.edu {
    background-color: #B2AC88;
}
.subject-area {
    text-align: center;
    width: 30%;
}

/* Contact Info
-----------------------------*/
footer {
    background-color: #0D1B1E;
    color: whitesmoke;
}
.contact-list {
    list-style-type: none;
    padding: 0;
}

.contact-list a {
    padding: 15px;
    margin: 15px;
    display: inline-block;
}

/* Media Queries
---------------------------*/
@media screen and (min-width:1000px){
    .project-item img {
        float: left;
        margin-right: 20px;
    }
    .exp-item {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 30px;
    }
}
@media screen and (min-width:600px){
    .contact-list{
        display: flex;
        justify-content: center;
    }
    .skill-list{
        display: flex;
        justify-content: left;
    }
}
@media screen and (max-width:999px){
    h1 {
        font-size:35px;
    }
    h2 {
        font-size:30px;
    }
    h1, h2 {
        line-height: 1;
    }
    .wrap-content {
        width: 92%;
    }
}
@media screen and (max-width:1100px){
    .to-top{
        right: 5%
    }
}
