/*----GLOBAL STYLES----*/
html {
  box-sizing: border-box;
  text-align: left;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
  background-color: rgb(240, 240, 240);
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
}
.wrap-content {
  max-width: 1120px; /* ensures the width can decrease for smaller screens */
  width: 85%; /* ensures the content only occupies 85% of the width, leaving space around the edges */
  margin: 56px auto;
  padding: 40px;
  box-shadow: -0.3em -0.3em 1em rgb(210, 210, 210), 0.3em 0.3em 1em rgb(210, 210, 210);
}
.wrap-content p {
  font-size: larger;
}
.h2 {
  font-size: large;
}
.bubble {
  margin: 20px;
  padding: 15px;
  box-shadow: 0 -0.3em 1em #ffffff, 0.3em 0.3em 1em rgb(210, 210, 210);
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.bubble h4 {
  margin-top: 0;
}
.bubble p{
  margin-bottom: 0;
}
.section {
  color: #707070	;
}
.description {
  font-size: medium !important;
  text-align: left;
}
.date {
  font-size: medium !important;
  margin-top: 0;
}

/*----HEADER STYLES----*/
.header {
  background-color: whitesmoke;
  color: #707070	;
}
/*.navbar {
  overflow: hidden;
  border: none;
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar ul {
  list-style-type: none;
  text-align: center;
  display: flex;
  justify-content: center;
}*/
.left-icon {
  justify-content: left;
}
.intro {
  display: flex;
}
.intro img {
  width: 300px;
}

/*----CONTACT STYLES----*/
.contact {
  display: flex;
  justify-content: center;
}

/*----EDUCATION STYLES----*/

/*----WORK STYLES----*/
.work img {
  margin-left: 10px;
  margin-right: 10px;
  width: 250px;
}
.work h3 {
  margin-bottom: 0;
}

/*----EXTRACURRICULAR STYLES----*/
.extracurricular h3 {
  margin-bottom: 0;
}
.utwind img {
  margin-left: 10px;
  margin-right: 10px;
  width: 250px;
}
.wise img {
  width: 200px;
  margin-left: 35px;
  margin-right: 35px;
}
.engsoc img{
  width: 130px;
  margin-left: 70px;
  margin-right: 70px;
}

/*----PROJECT STYLES----*/
.projects h3 {
  margin-bottom: 0;
}
.blood-cell img{
  width: 250px;
  margin-left: 10px;
  margin-right: 10px;
}
.course-projects img {
  width: 170px;
  margin-left: 50px;
  margin-right: 50px;
}

/*----MEDIA QUERIES----*/
